[submodule "extern/SDL2_mixer-2.0.0"]
	path = extern/SDL2_mixer-2.0.0
	url = https://github.com/kuna/SDL2_mixer
[submodule "extern/bmsbelplus"]
	path = extern/bmsbelplus
	url = https://github.com/kuna/bmsbelplus
[submodule "extern/libarchive"]
	path = extern/libarchive
	url = https://github.com/kuna/libarchive
